.p-dropdown {
    width: 100%;
    max-width: 100% !important;
    min-height: 36px;
    height: 40px;
    border-radius: 3.5px;
    display: flex;
    box-sizing: border-box !important;
    align-items: center;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: #1a73e8;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #1a73e8;
}

.p-inputtext {
    padding: 9px 12px !important;
}

.icon-combo--dropdown {
    border-radius: 0 4px 4px 0;
    width: 34px;
    height: 34px;
    position: relative;
}

.p-dropdown .p-dropdown-trigger,
.p-multiselect .p-multiselect-trigger {
    width: 34px !important;
    display: flex;
    justify-content: center;
    border-left: 1px solid #e0e0e0;
    align-items: center;
}

.p-dropdown .p-dropdown-trigger-icon.pi.pi-chevron-down,
.p-multiselect .p-multiselect-trigger-icon.pi.pi-chevron-down {
    width: 10px;
    height: 36px;
}

.p-dropdown .pi-chevron-down:before,
.p-multiselect .pi-chevron-down:before {
    content: "";
    height: 10px;
    top: 13px;
    position: absolute;
    width: 10px;
    display: inline-block;
    background: transparent url('@public/assets/icons/ic_drop-down.fa70eead.svg') no-repeat;
}

.icon-combo--dropdown:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 14px;
    left: 12px;
    display: inline-block;
    background: transparent url('@public/assets/icons/ic_drop-down.fa70eead.svg') no-repeat;
}

.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled .p-inputtext {
    border: none;
    line-height: 22px;
}

.p-multiselect {
    width: 100%;
    max-width: 100% !important;
    min-height: 40px;
    height: 42px;
    border-radius: 3.5px !important;
    display: flex;
    margin: 0;
    box-sizing: border-box !important;
    align-items: center;
    border: 1px solid #e0e0e0 !important;
}

.p-multiselect.error {
    border: 1px solid #ef5350 !important;
}

.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: #1a73e8 !important;
}

.p-multiselect:not(.p-disabled):hover {
    border-color: #1a73e8 !important;
}

.p-dropdown.error {
    border: 1px solid #ef5350;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: #dfebff;
    color: #000;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    border-radius: 4px;
    padding: 0 8px;
    margin: 0 8px 0 8px;

    &.p-focus {
        background: #fff;
    }

    &.p-highlight {
        background: #dfebff;
        color: #000;
    }

    &:hover {
        background: #dfebff;
    }

    &:first-child {
        margin-top: 8px;
    }

    &:last-child {
        margin-bottom: 8px;
    }
}

.p-inputnumber {
    &.error {
        border: 1px solid red !important;
    }
}
